
@using StaticToBlazorPart4.Models
@inject StaticToBlazorPart4.Services.PortifilioConfigurationService Service

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="@model.AvatarURL" alt="">
        <h1 class="masthead-heading text-uppercase mb-0">@model.Name</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading font-weight-light mb-0">@model.Summary</p>
    </div>
</header>

@code {

    HeaderModel model = new HeaderModel();

    protected override async Task OnInitializedAsync()
    {
        model = await Service.GetHeader();
    }
}
