
@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

<BlazoredModal />

<div class="main" >
    <div class="content px-4" id="page-top">
        @Body
    </div>
    <AnchorUtilsComponent />
</div>

